.titulo{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    text-shadow: 8px 5px 8px rgb(248, 248, 248);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(84,26,138,255)
}
body{
background-color: rgb(181, 136, 226)

}

a{
    text-decoration-line: none;
}

#Navegacion {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-size: 40px;
}

.NoticiasLocales{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

span{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
}

#libro{
    border-style: solid;
    border-radius: 16px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 5px;
    width: 15%;


}


body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
    padding: 20px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b488e3;
    color: white;
    text-align: center;
    padding: 10px;
}

td, th {
    border: 1px solid #000000;
    text-align:left;
    padding: 8px;
    background-color:rgb(142, 98, 185) ;
  }
  
  #contacto{
    margin-left: 60px;
  }